.App {
  /* text-align: center; */
  padding: 20px;
}

.adjust-content-height img, .img p {
  height: 75%;
  width: 100%;
}

.height {
  height: 250px;
}

.info,
.author,
.source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

.source {
  font-style: italic;
  color: #888;
}
.half-width {
  width:50%;
  margin: 5px;
}
