.App {
  /* text-align: center; */
  padding: 20px;
}

.img img {
  height: 75%;
  width: 100%;
}

.height {
  height: 300px;
}

.author,
.source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

.source {
  font-style: italic;
  color: #888;
}